/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

 /*
  * Colors:
  * =======
  *
  * Bright pink: #E22C9B
  * Dark Blue:
  * Dark Gray: #ACA9A9
  */

body {
  font-family: 'Roboto', sans-serif;
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  background-color: white;
  color: #121b3d;
}

@media only screen and (min-width: 60em) {
  #site-header {
    height: 7.5rem;
    border-top: 2rem solid #ACA9A9;
  }
}

#site-title {
  font-family: 'Roboto', sans-serif;
  background-image: url('images/miamidda-logo-bow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  font-size: 0;

  width: 12rem;
  height: 3rem;
  margin-left: 3rem;
  background-size: 11.84rem 3rem;
}

@media only screen and (min-width: 60em) {
  #site-title {
    background-image: url('images/miamidda-logo-white.png');
    background-color: #13193E;
    background-size: 217px 55px;
    background-position: center 40%;
    margin-left: -1rem;
    margin-top: -2.5rem;
    width: 340px;
    height: 7.5rem;
  }
}

#ticker {
  background: #192143;
}

@media only screen and (min-width: 60em) {
  #map-container {
    top: 7.5rem;
  }

  #content {
    top: 7.5rem;
  }

  #ticker {
    top: 7.5rem;
  }
}

#colophon {
  background: #192143;
}

nav.access .btn-block {
  border: none;
  box-shadow: none;
  background: none;
  color: black;
}

nav.access .btn-block:hover {
  color: #14c4dc;
}

.menu-item ul .btn {
  text-transform: none;
  font-weight: normal;
}

@media only screen and (min-width: 60em) {
  nav.access .menu-item:hover ul {
    border: none;
    background-color: #13193E;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  nav.access .menu-item ul .btn-block {
    color: white;
    padding: 0.75rem 1.25rem
  }

  nav.access .menu-item ul .btn-block:hover {
    color: white;
    background-color: #14c4dc;
  }
}

/* =Idea form
-------------------------------------------------------------- */

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  border-color: #e5e5e5;
  background-color: #F6F6F4;
  transition: all 0.2s ease 0s;
}

input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
  border-color: #14c4dc;
  outline: none;
}

.field label {
  font-weight: bold;
}

.help-text {
  font-size: 0.75rem;
  font-style: italic;
}

.radio-label-text:hover,
.checkbox-label-text:hover {
  border-color: #14c4dc;
}

:checked + .radio-label-text,
.radio-label-text.checked,
:checked + .checkbox-label-text,
.checkbox-label-text.checked {
  border: 3px solid rgba(0,0,0,0.05);
}


.place-location_type-field .radio-group {
  text-align: center;
}

.place-location_type-field .label-text {
  color: black;
  background-color: #F6F6F4;
  background-position: center 0.5rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  width: 45%;
  height: 8rem;
  padding-top: 5rem;
  vertical-align: top;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 640px) {
  .place-location_type-field .label-text {
    width: 30%;
  }
}

.place-location_type-field input:checked + .label-text {
  color: white;
}

input[value="education"] + .label-text { background-image: url(/static/css/images/markers/education-128.png); }
input[value="entertainment"] + .label-text { background-image: url(/static/css/images/markers/entertainment-128.png); }
input[value="engagement"] + .label-text { background-image: url(/static/css/images/markers/engagement-128.png); }
input[value="culture"] + .label-text { background-image: url(/static/css/images/markers/culture-128.png); }
input[value="wellness"] + .label-text { background-image: url(/static/css/images/markers/wellness-128.png); }

input[value="education"]:checked + .label-text { background-color: #8DC63F; }
input[value="entertainment"]:checked + .label-text { background-color: #E22C9B; }
input[value="engagement"]:checked + .label-text { background-color: #009444; }
input[value="culture"]:checked + .label-text { background-color: #510551; }
input[value="wellness"]:checked + .label-text { background-color: #FBB040; }

.remaining-characters {
  float: right;
  font-size: 0.8rem;
  color: #aaa;
  text-transform: lowercase;
}

/* =Place Details
-------------------------------------------------------------- */

.place-detail .close-btn {
  background-color: #13193E;
}

.place-header {
  width: 100%;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
  background-color: #13193E;
  color: white;
}

.place-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #999;
}

.promotion {
  float: none;
  background-color: #ACA9A9;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.5rem;
  text-align: right;
}

.user-support {
  display: inline-block;
  width: auto;
  background-color: #E22C9B;
  color: white;
  border: none;
  box-shadow: none;
}

.user-support:hover {
  background-color: white;
  color: #E22C9B;
}

.user-support label {
  color: white;
}

.user-support:hover label {
  color: #E22C9B;
  background-color: white;
}

.social {
  min-width: 70px;
}

.share-link a {
  background-size: contain;
  height: 26px;
  width: 26px;
}

.support {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.social {
  display: inline-block;
}

.share-link {
  text-align: left;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}