/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


body {
  font-family: 'Roboto', sans-serif;
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  background-color: white;
  color: #121b3d;
}

#site-title {
  font-family: 'Roboto', sans-serif;
  background-image: url('images/miamidda-logo-bow.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 4rem;
  font-size: 0;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}